{{#partial "title" }}
    Your Squads and Heroes
{{/partial}}


{{#partial "content"}}

<div class="hero_squad">
    <h1> Hero:{{name}}</h1>
    <h2>Age:{{age}}</h2>
    <h2>Special Power:{{power}}</h2>
    <h2>Weakness:{{weakness}}</h2>
</div>

<p>Add <a href="/hero" > more </a> here </p>

{{/partial}}

{{> layout.hbs}}