{{#partial "content"}}

    <div class="home">
        <div class="container px-4">
            <div class="row gx-5">
                <div class="col">
                    <div class="p-3">
                        <figure class="figure">
                            <img src="/images/dot.jpg" class="figure-img img-fluid rounded" width="90%" alt="...">
                            <figcaption class="figure-caption"></figcaption>
                        </figure>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="p-3 border bg-light">
                        <h3> Recruit a well-balanced team of superheroes or any other character-type of your choosing.</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>



{{/partial}}

{{>layout.hbs}}