{{#partial "title" }}
    Your Squads and Heroes
{{/partial}}


{{#partial "content"}}


    <div class="squad-hero">
        <h1> Squad:{{name}}</h1>
        <h2>Max Size:{{size}}</h2>
        <h2>Cause:{{cause}}</h2>

</div>


{{/partial}}

{{> layout.hbs}}